<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="/favicon.png">
	<link rel="preload" href="/img/parasensor_keyart.webp" as="image" fetchpriority="high" />
	<link rel="preload" href="/img/parasensor_ribbons.webp" as="image" fetchpriority="high" />
	<link rel="preload" href="/img/backgrounds/panel-orange.webp" as="image" />
	<link rel="preload" href="fonts/ChelseaMarket.ttf" as="font" crossorigin="anonymous">
	<link rel="preload" href="fonts/AlteHaasGrotesk.ttf" as="font" crossorigin="anonymous">

	<title>{{ title }} - {{ site.title }}</title>

	<!-- Meta -->
	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="{{ site.name }}">
	<meta name="keywords" content="{{ site.keywords }}">

	<meta property="og:title" content="{{ site.title }}" />
	<meta property="og:description" content="{{ site.description }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ site.url }}" />
	<meta property="og:image" content="/preview.png" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="{{ site.handle.twitter }}" />
	<meta name="twitter:title" content="{{ site.title }}" />
	<meta name="twitter:description" content="{{ site.description }}" />
	<meta name="twitter:image" content="/preview.png" />

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	
	<!-- FontAwesome -->
	<script src="https://kit.fontawesome.com/87224a5bfc.js" crossorigin="anonymous" defer></script>

	{% if site.umami %}
		<!-- Umami Analytics -->
		<script defer src="https://cloud.umami.is/script.js" data-website-id="{{ site.umami }}"></script>
	{% endif %}

	<!-- Scripts -->
	<script src="/js/script.js" defer></script>
</head>
<body>
	<header>
		<nav class="desktop">
			<a href="/"><div id="headerLogo">{% include "logo.njk" %}</div></a>
			<ul id="headerLinks">
				<li><a href="/presskit/" class="headerLink">Presskit</a></li>
				<li><a href="/about/" class="headerLink">About</a></li>
				<li><a href="/contact/" class="headerLink">Contact</a></li>
			</ul>
			
		</nav>
		<nav class="mobile">
			<a href="/"><div id="headerLogo">{% include "logo.njk" %}</div></a>
			<ul id="headerSocials">
				{% for k,v in site.link %}
					<li><a href="{{ v }}" title="{{ k }}"><i class="fa-brands fa-{{ k }}"></i></a></li>
				{% endfor %}
			</ul>
			<ul id="headerLinks">
				<li><a href="/presskit/" class="">Presskit</a></li>
				<li><a href="/about/" class="">About</a></li>
				<li><a href="/contact/" class="">Contact</a></li>
			</ul>
		</nav>
	</header>
	<main>
		{{ content | safe }}
	</main>

	<footer>
		{% include "logo.njk" %}
		<span>
			<i class="fa-regular fa-copyright"></i>
			<span id="currentYear">2025</span>
			{{ site.author }}
			<script>
				document.getElementById("currentYear").innerText = new Date().getFullYear();
			</script>
		</span>
		<ul>
			{% for k,v in site.link %}
				<li><a href="{{ v }}" title="{{ k }}"><i class="fa-brands fa-{{ k }}"></i></a></li>
			{% endfor %}
		</ul>
		{# <div id="footer-links">
			<a href="/privacy/"><i class="fa-solid fa-shield-halved"></i>Privacy</a>
			<a href="/rss.xml"><i class="fa-solid fa-rss"></i>RSS</a>
			<a href="#" id="toTop">Back to Top <i class="fa-solid fa-arrow-up"></i></a>
		</div> #}
	</footer>
</body>
</html>