:root {
	--pink: #E97FA6;
	--green: #C4D333;
	--red: #ed5624;
	--black: #120F10;
	--white: #EDE4D3;
	--blue: #1961a6;
	//--maxWidth: 100%;

	--headingText: "ChelseaMarket";
	--bodyText: "AlteHaasGrotesk";
}

@font-face {
	font-family: "ChelseaMarket";
	src: url("../fonts/ChelseaMarket-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "FuturaLT";
	src: url("../fonts/FuturaLT.ttf") format("truetype");
}

@font-face {
	font-family: "AlteHaasGrotesk";
	src: url("../fonts/AlteHaasGroteskRegular.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "AlteHaasGrotesk";
	src: url("../fonts/AlteHaasGroteskBold.ttf") format("truetype");
	font-weight: bold;
}

* {
	margin: 0;
	padding: 0;
	//font-family: sans-serif;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
	background: var(--black);
	color: var(--white);
}

/* --- */
header, footer {
	background: var(--green);
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: var(--maxWidth);
	padding: .5em 1em;
}


footer {
	background: var(--black);
	color: var(--green);
	font-family: var(--bodyText), sans-serif;
	font-weight: bold;

	svg { fill: var(--green); width: 100px; height: 30px;  } 

	ul { list-style-type: none; display: flex; gap: 1em; font-size: 24px; }
	a { color: var(--green); &:hover { color: var(--pink); } }

}

main {
	display: flex;
	flex-flow: row wrap;
	flex-grow: 1;
	max-width: var(--maxWidth);
	width: 100%;
	margin: 0 auto;
}

section {
	background: var(--pink);
	color: var(--black);
	padding: 1em;
	width: 100%;

	&.half { width: 50%; }
}

.bg_1 {
	background: url("../img/backgrounds/background_1.webp");
	background-size: cover;
	background-position: center;
	h1, h2, h3 { color: var(--white); }
}

.bg_2 {
	background: url("../img/backgrounds/background_2.webp");
	background-size: cover;
	background-position: center;
	h1, h2, h3 { color: var(--white); }
}

.bg_3 {
	background: url("../img/backgrounds/background_3.webp");
	background-size: cover;
	background-position: center;
	h1, h2, h3 { color: var(--white); }

	p, h2 { background: var(--black); width: fit-content; }
	h2 {  text-transform:uppercase; font-size: clamp(1.5em, 2.5vw, 3em);}
	p { color: var(--green); margin-inline: 0; font-size: clamp(1.2em, 2.5vw, 1.8em); max-width: 30ch; z-index: 1; }
}

.bg_4 {
	background: url("../img/backgrounds/background_4.webp");
	background-size: cover;
	background-position: center;
	background-blend-mode: darken;
	background-color: var(--green);
}

/* --- */
#headerLogo {
	max-width: 100%;

	&:hover { fill: var(--pink); }
}

nav { 
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
	width: 100%;

	font-family: var(--bodyText);
	font-weight: bold;

	ul { list-style-type: none; }
}

nav.mobile {display: none;}

#headerLinks {
	display: flex;
	gap: .5em;
	align-items: center;
}
.headerLink {
	display: inline-block;
	padding: .8em;
	color: var(--pink);
	font-family: var(--headingText);
	font-size: 1.5em;
	background-image: url("../img/backgrounds/nav_grey1.webp");
	background-size: 100% 100%;
	text-decoration: none;
}
.headerLink:active {
	transform: scale(1.1);
	color: var(--black);
}
.headerLink:hover {
	color: var(--black);
	background-image: url("../img/backgrounds/nav_pink2.webp");
	background-size: 100% 100%;
}

#headerSocials {
	display: flex;
	flex-flow: row;
}

.headerSocial {
	color: var(--black);
	padding: 0.25em;
	font-size: 1.5rem;
	transition: transform 0.1s;
}
.headerSocial:hover {
	color: var(--white);
	transform: scale(1.2);
}

/* --- */

#hero {
	background-image: url("../img/parasensor_keyart.webp");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	aspect-ratio: 16 / 9;
	max-width: 100%;
	margin: 0;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

#heroLogo {
	max-width: 80%;
	margin: 0 auto;
	padding-top: 3em;
}

.action {
	max-width: 600px;
	margin-inline: auto;
	margin-bottom: 1em;
	padding: 1.5em;
	background: none;
	color: var(--black);
	font-weight: 900;
	border: none;
	cursor: pointer;
	transition: all 100ms;

	font-family: var(--headingText);
	font-size: 2em;
	background-image: url("../img/backgrounds/panel-orange.webp");
	background-size: 100% 100%;

	&:hover {
	cursor: pointer;
	transform: scale(1.2) rotate(5deg);
	background-image: url("../img/backgrounds/panel-pink.webp"); }
}

.action:active {

}

.dark {
	background: var(--black);
	color: var(--white);
}

.dark h2 {
	color: var(--green);
}

.light {
	background: var(--white);
	color: var(--black);
}

.quote {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-block: 3em;
	
	> * {
	font-family: var(--headingText), sans-serif;
	display: block;
	padding: 0 1rem;
	font-size: clamp(1.2em, 2.5vw, 2em); 
	text-align: center;
	max-width: 50ch;
	}
}

.quotation-mark {
	font-size:3rem;
	color:var(--green);
}

#who-are-we {
	display: flex;
	flex-flow: column;
	justify-content: center;
	background: url("../img/backgrounds/background_1.webp");
	background-size: cover;
	background-position: center;

	img { max-width: 300px; align-self: end; transform: rotate(-15deg) translate(-20px, -50px);}
}

/* acknowledgement of country */

#acknowledgement {
	background-size: cover;
	background-position: center;
	p { 
		background-image: url("../img/backgrounds/paper_1.webp"); 
		background-size: 100% 100%; 
		padding: 2em 1em 3em 2em; 
		text-align: center;
		max-width: 60ch;
		margin-inline: auto;
	}
}

.aoc {
	font-family: var(--bodyText), sans-serif;
	font-size: 0.9rem;
}

#trailer {
	position: relative;
	width: 100%;
	padding-block: 3em;

	h2 { text-align: center; }
	img { 
		position: absolute; 
		top: 0;
		z-index: 0;
	}
}

.video {
	overflow: clip;
	aspect-ratio: 16 / 9;
	border-radius: 1rem;
	max-width: 720px;
	margin: 2em auto;
	position: sticky;
	z-index: 1;
}

.divider { margin-inline: auto; }


/* --- */

h1, h2, h3, h4, h5 {
	font-family: var(--headingText), sans-serif;
	width: 100%;
}
h2, h3, h4, h5 {
	margin-top: 1em;
}

p {
	font-family: var(--bodyText), sans-serif;
	max-width: 60ch;
	margin: 0.5rem 0;
}

a { color: var(--blue); }
a:hover { color: var(--green) }

strong, emphasis, b, i {
	font-family: var(--bodyText), sans-serif;
}

.center {
	text-align: center;
}

img::before {
	color: #8888;
	text-align: center;
	width: 100%;
	display: inline-block;
}

section.columns {

	display: grid;
	grid-template-columns: 30% 70%;

	h2 { 
		background-color: var(--pink); 
		color: var(--black); 
		height: fit-content;
    	width: fit-content;
    	font-size: 2em;
	}

}


/* --- */
@media (max-width: 600px) {

	header, footer {
		padding: 1em;
	}

	footer {
		ul { display: none; }
	}

	#headerLogo svg { width: 128px; height: 40px; }


	main > * {
		margin: 0;
		//margin-top: 0.5em;
		padding: 0.5em;
	}

	#trailer { 
		& img { position: fixed; visibility: hidden; }
	}

	#heroLogo { max-width: 100%; }
	#hero { min-height: 100vh; background-attachment: scroll; }
	#hero a { max-width: 70%; margin-inline:auto; font-size: 0.8em; }

	.quotation-mark { display: none; }

	section.half { width: 100%; }

	section.columns { grid-template-columns: 100%; }

	nav.desktop { display: none; }
	nav.mobile { 
		display: flex; 

		ul { display: flex; gap: 1em; font-family: var(--headingText); font-size: 1.5em; }
		a { text-decoration: none; color: var(--black); }
		a:hover { color: var(--black); }

		#headerSocials a {  }
		#headerLinks { justify-content: space-between; width: 100%; }
	}

}